<!-- Import React-MDL css and font from CDN -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://npmcdn.com/react-mdl@1.4.2/extra/material.css"></link>
<!-- Import React from CDN -->
<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
<!-- Import React-MDL from CDN -->
<script src="https://npmcdn.com/react-mdl@1.4.2/out/ReactMDL.js"></script>
<script src="https://npmcdn.com/react-mdl@1.4.2/extra/material.js"></script>


<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='aem-playground.react-comp'}" />

<!-- Being lazy for putting custom script here for now -->
<script>
console.log('I give up');
</script>
